<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlzrglvrz/image/upload/v1550151040/ntiokajrm5aapkdogd06.jpg);">
  <div class="container">
    <h1 class="flash">Beer Beer Beer.</h1>
    <h2>Apperently there is more than that.</h2>
    <p>Find out at your_cocktail_path</p>
  </div>
</div>
<h1>All cocktails</h1>
<% @cocktails.each do |cocktail| %>
	<h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
	<p>(<%= link_to 'Edit', edit_cocktail_path(cocktail) %>)</p>
<% end %>
<%= link_to '+ Add a cocktail', new_cocktail_path %>
